<div>
  <h1>Home</h1>
  <h2>lista de productos</h2>
  <ul>
    {{#each products}}
      <li>
        {{this.titulo}}
        -
        {{this.precio}}
        -
        {{this.descripcion}}
        -
        {{this.categoria}}
      </li>
    {{/each}}
  </ul>
</div>