<div>
  <h1 class="product">Bienvenido a la vinoteca de Alexander</h1>
  <h2 class="lista-producto">lista de productos</h2>
  <ul class="listado">
    {{#each products}}
      <li>
        {{this.titulo}}
        -
        {{this.precio}}
        -
        {{this.descripcion}}
        -
        {{this.categoria}}
      </li>
    {{/each}}
  </ul>
</div>